<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>E:\VS2017Projects\CityEngineering\src\workspace\SecurityHost.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/Security</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IdentityDevEnvEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tugelatechdbinstance.cowtrx3rlueo.us-east-1.rds.amazonaws.com,1433;Initial Catalog=IdentityDevEnv;User ID=tugeladev;Password=tugeladev;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IdentityDevEnvEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/IdentityModel.csdl|res://*/IdentityModel.ssdl|res://*/IdentityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tugelatechdbinstance.cowtrx3rlueo.us-east-1.rds.amazonaws.com,1433;initial catalog=IdentityDevEnv;user id=tugeladev;password=tugeladev;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MainDevEnvEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tugelatechdbinstance.cowtrx3rlueo.us-east-1.rds.amazonaws.com,1433;Initial Catalog=MainDevEnv;User ID=tugeladev;Password=tugeladev;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MainDevEnvEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/MainModel.csdl|res://*/MainModel.ssdl|res://*/MainModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tugelatechdbinstance.cowtrx3rlueo.us-east-1.rds.amazonaws.com,1433;initial catalog=MainDevEnv;user id=tugeladev;password=tugeladev;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IdentityDevEnvEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MainDevEnvEntities-Web.config Connection String" />
  </ItemGroup>
</Project>